body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.topbar{
    background-color: #cafef7;
    min-height: 50px;
    text-align: center;
    width: 100%;
    color: black;
    margin: 0em;
    padding: 20px;
}

h1{
    margin: 0;

}

.paragraph{
  
    margin-top: 20px;
    padding: 20px;
    width: 50%;

}

button{
    margin:0;
    display: block;
    background-color: #3d3c3b;
    color:#ebebeb;
    border: none;
    padding: 10px
}

.table{
  
    margin-top: 20px;
}
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding:5px;
  }
  
  th {
    background-color:#6331b4 ;
    color: white;
  }
  
  tr:nth-child(even) {
    background-color: #8688e9;
  }
  